.cardWrapper {
    width: 100%;
}

.resultCard {
    display: flex;
    width: calc(100% - 20px);
    padding: 10px;
    background: #f4fff4;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    color: black;
    justify-content: space-between;
}



.resultInfo {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 4px;
    flex-direction: column;
}